# IDE
.idea/
.vscode/

# NodeJS / Build / Misc
node_modules/
build/
dist/
coverage/
cache/
coverage/

# Static files
tmp/uploads/*
!tmp/uploads/.gitkeep

# Env
env.js
*.env
*.DS_Store
*.sqlite

# Logs
yarn-error.log

# Database
ormconfig.json
